
/*import our fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');



* { /* references the whole page when no other selector is used except "*" symbol */
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth; /* smooth scrolling effect when links are clicked to direct user to other part of page*/
}

p {
    color: rgb(85, 85, 85);
}


/*Transition for our links and buttons classes to switch between two states*/
a, .btn {
    transition: all 300ms ease;
}

/*Desktop navigation*/
nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem; /*rem is a unit of measurement that is relative to the font-size of the root element*/
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}


a:hover { /*stating what happens when we hover over the links*/
          color: grey;
          text-decoration: underline;
          text-underline-offset: 1rem; /*offsets the underline of the text so its right underneath the link*/
          text-decoration-color: rgb(181, 181, 181);
}


.logo {
        font-size: 2rem;

}


.logo:hover {
                cursor: default; /*keeps cursor as default when hovering over logo*/

}